<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Curiosity &bull; App Interaction Emails</title>

<%= partial "partials/style" %>
</head>
 
<body bgcolor="#f7f7f7">
<%= partial "partials/header-server" %>
<!-- BODY -->
<table class="body-wrap" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td>
	</td>
	<td class="container" bgcolor="#FFFFFF">
		<div class="content">
		    <%= yield %>
		</div>
	</td>
	<td>
	</td>
</tr>
</table>
<!-- /BODY -->
<%= partial "partials/footer" %>
</body>
</html>