<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Curiosity - Email</title>
    <style type="text/css">
        /*Hotmail and Yahoo specific code*/
        .ReadMsgBody { width: 100%;}
        .ExternalClass { width: 100%;}
        .yshortcuts { color: #ffffff;}
        .yshortcuts a span { color: #ffffff; border-bottom: none !important; background: none !important;}
        /*Hotmail and Yahoo specific code*/
        body {
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
          -webkit-font-smoothing: antialiased;
          margin: 0 !important;
          padding: 0 !important;
          width: 100% !important;
      }
      p{ margin:0px !important; padding:0px !important;}
      /*-----Mobile specific code------*/
      @media only screen and (max-width: 599px) {
          body { width: auto !important;}
          table[class="main"]{ max-width: 610px !important; width: 100% !important;}
          img[class="banner"]{ max-width:600px !important; width: 100% !important; height: auto; display: block; margin:0 auto;}
          img[class="img1"]{ max-width:100% !important; width: 100% !important; height:auto; display: block; margin:0 auto;}
      }
      @media only screen and (max-width: 479px) {
          body { width: auto !important;}
          table[class="main"]{ max-width: 610px !important; width: 100% !important;}
          td[class="social"]{max-width:44px !important; width: 100% !important; margin:0 auto !important; display:block; text-align:center !important;}
          td[class="box1"]{ max-width:100% !important; width: 100% !important; margin:0 auto !important; display:block; text-align:center !important;}
          td[class="box2"]{ max-width:100% !important; width: 100% !important; margin:25px auto !important; margin-bottom:inherit !important; display:block; text-align:center !important;}
          td[class="box3"]{ max-width:100% !important; width: 100% !important; margin:18px auto !important; margin-bottom:inherit !important; display:block;}
          td[class="hide2"]{ width:0px; display:none;}
          td[class="button"]{ max-width:140px !important; width: 100% !important; margin:0 auto !important; display:block;}
          td[class="bg2"]{ height:240px !important;}
      }
      /*-----Mobile specific code end------*/
  </style>
</head>

<body style="margin:0px;" bgcolor="#f7f7f7">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7">
      <tr>
        <td height="20" bgcolor="#f7f7f7"></td>
    </tr>
    <!--==============preheader start here===============-->
    <tr>
        <td bgcolor="#1185c8"><table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="main">
            <tr>
              <td width="5"></td>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="hide2" style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:12px; line-height:22px; color:#ffffff;">Problem viewing this email?&nbsp;<a href="#" target="_blank" style="color:#ffffff; text-decoration:underline;">online version</a></td>
                    <td width="20"></td>
                    <!--==============social icon start here===============-->
                    <td align="right" width="44" class="social"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <!-- <td width="1" bgcolor="#01aef0"></td>
                          <td><a href="http://www.facebook.com/" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/facebook.png" width="42" height="40" alt="facebook" border="0"></a></td> -->
                          <td width="1" bgcolor="#01aef0"></td>
                          <td><a href="https://twitter.com/curiositydotcom" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/twitter.png" width="42" height="40" alt="twitter" border="0"></a></td>
                          <td width="1" bgcolor="#01aef0"></td>
                          <!-- <td><a href="http://www.google.com/" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/google.png" width="42" height="40" alt="google" border="0"></a></td>
                          <td width="1" bgcolor="#01aef0"></td>
                          <td><a href="http://www.youtube.com/" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/youtube.png" width="42" height="40" alt="youtube" border="0"></a></td>
                          <td width="1" bgcolor="#01aef0"></td> -->
                      </tr>
                  </table></td>
                  <!--==============social icon end here===============-->
              </tr>
          </table></td>
          <td width="5"></td>
      </tr>
  </table></td>
</tr>
<!--==============preheader end here===============-->
<%= yield %>
<!--==============footer start here===============-->
<tr>
    <td bgcolor="#01aef0"><table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="main">
        <tr>
          <td width="5"></td>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <!--==============image area start here===============-->
              <tr>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td  bgcolor="#FFFFFF" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="20"></td>
                                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td height="20"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td valign="top" class="box1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td><a href="https://curiosity.com/categories/art-design" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/badge-art-design@2x.png" width="126" height="126" alt="" border="0" class="img1"></a></td>
                                                    <td width="18"></td>
                                                    <td><a href="https://curiosity.com/categories/food-drink" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/badge-food-drink@2x.png" width="126" height="126" alt="" border="0" class="img1"></a></td>
                                                </tr>
                                            </table></td>
                                            <td width="18" class="hide2"></td>
                                            <td valign="top" class="box3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td><a href="https://curiosity.com/categories/social-sciences" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/badge-social-sciences@2x.png" width="126" height="126" alt="" border="0" class="img1"></a></td>
                                                <td width="18"></td>
                                                <td><a href="https://curiosity.com/categories/technology" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/badge-technology@2x.png" width="126" height="126" alt="" border="0" class="img1"></a></td>
                                            </tr>
                                        </table></td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table></td>
                        <td width="20"></td>
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td height="15"></td>
            </tr>
        </table>
        </td>
    </tr>
</table></td>
</tr>
<!--==============image area end here===============-->
<tr>
    <td height="16"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:13px; line-height:22px; color:#ffffff; text-align:center;">You are receiving this message because you're a member of Curiosity.</td>
</tr>
<tr>
    <td height="8"></td>
</tr>
<tr>
    <td align="center" style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:12px; line-height:22px; color:#ffffff; "><!--Update&nbsp;<a href="#" target="_blank" style="text-decoration:underline; color:#ffffff;"><strong>preferences</strong></a> &nbsp;| &nbsp;--><a href="*|UNSUB|*" target="_blank" style="text-decoration:underline; color:#ffffff;"><strong>Unsubscribe</strong></a></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:13px; line-height:22px; color:#ffffff; text-align:center; padding-top:8px;">Copyright &copy; 2014 - Curiosity, All rights reserved.</td>
</tr>
<tr>
    <td height="15"></td>
</tr>
<!--==============social icon area start here===============-->
<tr>
    <td><table width="29" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <!-- <td><a href="http://www.facebook.com/" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/facebook2.png" width="29" height="29" alt="facebook" border="0"></a></td>
          <td width="8"></td> -->
          <td><a href="https://twitter.com/curiositydotcom" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/twitter2.png" width="29" height="29" alt="twitter" border="0"></a></td>
          <!-- <td width="8"></td>
          <td><a href="http://www.google.com/" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/google2.png" width="29" height="29" alt="google" border="0"></a></td>
          <td width="8"></td>
          <td><a href="http://www.youtube.com/" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/youtube2.png" width="29" height="29" alt="youtube" border="0"></a></td> -->
      </tr>
  </table></td>
</tr>
<!--==============social icon area end here===============-->
<tr>
    <td height="20"></td>
</tr>
</table></td>
<td width="5"></td>
</tr>
</table></td>
</tr>
<!--==============footer end here===============-->
</table>
</body>
</html>
