<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head><title></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=320, target-densitydpi=device-dpi">
<style type="text/css">
    /* Mobile-specific Styles */
    @media only screen and (max-width: 660px) {
    /*table[class=w0], td[class=w0] { width: 0 !important; }
    table[class=w10], td[class=w10], img[class=w10] { width:5px !important; }
    table[class=w15], td[class=w15], img[class=w15] { width:5px !important; }
    table[class=w30], td[class=w30], img[class=w30] { width:10px !important; }
    table[class=w60], td[class=w60], img[class=w60] { width:10px !important; }
    table[class=w125], td[class=w125], img[class=w125] { width:80px !important; }
    table[class=w130], td[class=w130], img[class=w130] { width:55px !important; }
    table[class=w140], td[class=w140], img[class=w140] { width:90px !important; }
    table[class=w160], td[class=w160], img[class=w160] { width:180px !important; }
    table[class=w170], td[class=w170], img[class=w170] { width:100px !important; }
    table[class=w180], td[class=w180], img[class=w180] { width:80px !important; }
    table[class=w195], td[class=w195], img[class=w195] { width:80px !important; }
    table[class=w220], td[class=w220], img[class=w220] { width:80px !important; }
    table[class=w240], td[class=w240], img[class=w240] { width:180px !important; }
    table[class=w255], td[class=w255], img[class=w255] { width:185px !important; }
    table[class=w275], td[class=w275], img[class=w275] { width:135px !important; }
    table[class=w280], td[class=w280], img[class=w280] { width:135px !important; }
    table[class=w300], td[class=w300], img[class=w300] { width:140px !important; }
    table[class=w325], td[class=w325], img[class=w325] { width:95px !important; }
    table[class=w360], td[class=w360], img[class=w360] { width:140px !important; }
    table[class=w410], td[class=w410], img[class=w410] { width:180px !important; }
    table[class=w470], td[class=w470], img[class=w470] { width:200px !important; }
    table[class=w580], td[class=w580], img[class=w580] { width:280px !important; }
    table[class=w640], td[class=w640], img[class=w640] { width:300px !important; }*/

    table[class=w0], td[class=w0] { width: 0 !important; }
    table[class=w30], td[class=w30], img[class=w30] { width:15px !important; }
    table[class=w580], td[class=w580], img[class=w580] { width:270px !important; }
    table[class=w640], td[class=w640], img[class=w640] { width:300px !important; }

    table[class*=hide], td[class*=hide], img[class*=hide], p[class*=hide], span[class*=hide] { display:none !important; }
    table[class=h0], td[class=h0] { height: 0 !important; }
    .article-content, #left-sidebar{ -webkit-text-size-adjust: 90% !important; -ms-text-size-adjust: 90% !important; }
    .header-content, .footer-content-left {-webkit-text-size-adjust: 80% !important; -ms-text-size-adjust: 80% !important;}
    img { height: auto; line-height: 100%; }
    .spacer-height{ height: 15px !important; }
    .email-title{ font-size: 18px !important; line-height: 25px !important; }
    .email-body{ font-size: 14px !important; line-height: 22px !important; }
    a.course-title{ font-size: 12px !important; line-height: 14px !important; }
    .capper{ height: 15px !important; }
}
/* Client-specific Styles */
#outlook a { padding: 0; }  /* Force Outlook to provide a "view in browser" button. */
body { width: 100% !important; }
.ReadMsgBody { width: 100%; }
.ExternalClass { width: 100%; display:block !important; } /* Force Hotmail to display emails at full width */
/* Reset Styles */
/* Add 100px so mobile switch bar doesn't cover street address. */
body { background-color: #dedede; margin: 0; padding: 0; }
img { outline: none; text-decoration: none; display: block;}
br, strong br, b br, em br, i br { line-height:100%; }
h1, h2, h3, h4, h5, h6 { line-height: 100% !important; -webkit-font-smoothing: antialiased; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: blue !important; }
h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active { color: red !important; }
/* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { color: purple !important; }
/* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
table td, table tr { border-collapse: collapse; }
.yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span {
    color: black; text-decoration: none !important; border-bottom: none !important; background: none !important;
}   /* Body text color for the New Yahoo.  This example sets the font of Yahoo's Shortcuts to black. */
/* This most probably won't work in all email clients. Don't include code blocks in email. */
code {
  white-space: normal;
  word-break: break-all;
}
#background-table { background-color: #dedede; }
/* Webkit Elements */
#top-bar { -webkit-font-smoothing: antialiased; background-color: #ffffff; color: #ededed; }
#top-bar a { font-weight: bold; color: #ffffff; text-decoration: none;}
#footer { -webkit-font-smoothing: antialiased; }
/* Fonts and Content */
body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; }

.header-content, .footer-content-left{  }
/* Prevent Webkit and Windows Mobile platforms from changing default font sizes on header and footer. */
.header-content { font-size: 12px; color: #ededed; }
.header-content a { font-weight: bold; color: #47C2D8; text-decoration: none; }

.article-title {}
.article-title a { color: #47C2D8; text-decoration: none; }
.article-title.with-meta {margin-bottom: 0;}
.article-meta { font-size: 13px; line-height: 20px; color: #ccc; font-weight: bold; margin-top: 0;}
.article-content { font-size: 13px; line-height: 18px; color: #444444; margin-top: 0px; margin-bottom: 0; margin-left: 0; margin-right: 0; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; }
.article-content a { color: #47C2D8; text-decoration:none; }
.article-content img { max-width: 100% }
.article-content ol, .article-content ul { margin-top:0px; margin-bottom:18px; margin-left:19px; padding:0; }
.article-content li { font-size: 13px; line-height: 18px; color: #444444; }
.article-content li a { color: #47C2D8; text-decoration:underline; }
.article-content p {margin-bottom: 15px;}

.email-title{ text-align: left; font-size: 20px; line-height: 24px; color: #2c2c2c; font-weight: normal; margin-top:0px; margin-bottom:0; margin-left: 0; margin-right: 0; }
.email-body{ text-align: left; font-family: Helvetica, Arial; font-size: 15px; font-weight: normal; color: #666666; line-height: 23px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0; }
a.course-title{ font-family: Helvetica, Arial; font-size: 15px; font-weight: bold; color: #3E3D3D; line-height: 28px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0; text-decoration: none; }

#footer { background-color: #f7f7f7; color: #3E3D3D; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
#footer a { color: #47C2D8; text-decoration: none; font-weight: normal; }
#footer .footer-text{
    color: #727273; font-size: 11px; line-height: 16px;
}
</style>
<!--[if gte mso 9]>
<style _tmplitem="159" >
.article-content ol, .article-content ul {
   margin: 0 0 0 24px;
   padding: 0;
   list-style-position: inside;
}
</style>
<![endif]-->
</head>
<body bgcolor="#f7f7f7">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table">
        <tbody>
            <tr>
                <td align="center" bgcolor="#f7f7f7">
                    <table class="w640" style="margin:0 10px;" width="640" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td class="w640" width="640" height="20">
                                </td>
                            </tr>
                            <tr>
                                <td class="w640" width="640">
                                    <table id="top-bar" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                        <tbody>
                                            <tr><td height="30" colspan="3" class="capper"></td></tr>
                                            <tr>
                                                <td class="w30" width="30">
                                                </td>
                                                <td class="w580" width="580" valign="middle" align="left">
                                                    <a href="http://www.curiosity.com" style="text-decoration: none; border: 0; display: block;" width="207" height="48">
                                                        <img width="207" height="48" alt="curiosity - never stop learning" style="display: block; text-decoration: none; border: 0;" src="https://curiosity-data.s3.amazonaws.com/email/images/logo.png">
                                                    </a>
                                                </td>
                                                <td class="w30" width="30">
                                                </td>
                                            </tr>
                                            <tr><td height="15" colspan="3"></td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="w640" width="640">
                                    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                        <tbody>
                                            <tr>
                                                <td class="w30" width="30">
                                                </td>
                                                <td class="w580" width="580" valign="middle" align="left">
                                                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" bgcolor="#47c2d8">
                                                        <tr>
                                                            <td height="2"></td>
                                                        </tr>
                                                    </table>
                                                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td height="20" class="spacer-height"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="w30" width="30">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <%= yield %>
                            <tr>
                                <td class="w640 capper" width="640" height="30" bgcolor="#ffffff"></td>
                            </tr>
                            <tr>
                                <td class="w640" width="640">
                                    <table id="footer" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#f7f7f7">
                                        <tbody>
                                            <tr>
                                                <td width="20"></td>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <tr><td height="20"></td></tr>
                                                        <tr>
                                                            <td align="left" style="text-align: left; color: #3e3d3d; font-size: 14px; line-height: 20px;">
                                                                The Curiosity Team.<br>
                                                                <span style="color: #47c2d8; font-style: italic;">Never Stop Learning.<span>
                                                                </td>
                                                            </tr>
                                                            <tr><td height="8"></td></tr>
                                                            <tr>
                                                                <td class="footer-text" align="left" style="text-align: left; color: #727273; font-size: 11px; line-height: 16px;">
                                                                    Follow us on <a href="https://twitter.com/curiositydotcom" target="_blank" style="color: #47c2d8;">Twitter</a>.
                                                                </td>
                                                            </tr>
                                                            <tr><td height="4"></td></tr>
                                                            <tr>
                                                                <td class="footer-text" align="left" style="text-align: left; color: #727273; font-size: 11px; line-height: 16px;">
                                                                    You are receiving this email because you either signed up on our site or a friend is sharing content with you.
                                                                </td>
                                                            </tr>
                                                            <tr><td height="4"></td></tr>
                                                            <tr>
                                                                <td class="footer-text" align="left" style="text-align: left; color: #727273; font-size: 11px; line-height: 16px;">
                                                                    Copyright 2014. Discovery Communications. All Rights Reserved. Our mailing address is 111 E. Wacker Suite 3000 Chicago, IL 60601.
                                                                </td>
                                                            </tr>
                                                            <tr><td height="20"></td></tr>
                                                        </table>
                                                    </td>
                                                    <td width="20"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w640" width="640" height="60">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
    </html>
