<!-- FOOTER --> 
<table class="foot-wrap" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td>
	</td>
	<td class="footer container">
		<div class="content">
			<table cellpadding="0" cellspacing="0" border="0" style="color: #3e3d3d; font-size: 14px;">
			    <tr><td height="20"></td></tr>
				<tr>
					<td>
						<div class="column-wrap">
							<div class="left-column" style="margin-bottom: 10px;">
								The Curiosity Team.<br>
								<span style="color: #47c2d8; font-style: italic;">Never Stop Learning.<span>
							</div>
							<!--<div class="right-column" style="margin-bottom: 10px; font-size: 12px; color: #ababab;">
								<a href="#" style="color: #656565;">Notification settings</a> &bull; <a href="#" style="color: #656565;">Unsubscribe instantly</a>
							</div>-->
						</div>
					</td>
				</tr>
				<tr><td height="10"></td></tr>
				<tr>
				    <td style="color: #3e3d3d; font-size: 11px; line-height: 16px;">
				        Follow us on <a href="https://twitter.com/curiositydotcom" target="_blank" style="color: #47c2d8;">Twitter</a>.
				    </td>
				</tr>
				<tr><td height="5"></td></tr>
				<tr>
				    <td style="color: #3e3d3d; font-size: 11px; line-height: 16px;">
				        You are receiving this email because you either signed up on our site or a friend is sharing content with you.
				    </td>
				</tr>
				<tr><td height="5"></td></tr>
				<tr>
				    <td style="color: #3e3d3d; font-size: 11px; line-height: 16px;">
				        Copyright 2014. Discovery Communications. All Rights Reserved. Our mailing address is 111 E. Wacker Suite 3000 Chicago, IL 60601.
				    </td>
				</tr>
				<tr><td height="20"></td></tr>
			</table>
		</div>
	</td>
	<td>
	</td>
</tr>
</table>
<!-- /FOOTER -->