<!-- HEADER -->
<table class="head-wrap" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" style="border-bottom: 3px solid #262626;">
<tr>
	<td>
	</td>
	<td class="header container">
		<div class="content">
			<table cellpadding="0" cellspacing="0" border="0">
			    <tr><td colspan="2" height="20"></td></tr>
				<tr>
					<td width="207">
						<a href="http://{{config.SERVER_NAME}}" style="text-decoration: none; border: 0; display: block;" width="207" height="48"><img src="{{config.AWS_S3_URL}}email/forgot-password/logo.png" width="207" height="48" alt="curiosity - never stop learning" style="display: block; text-decoration: none; border: 0;"></a>
					</td>
				</tr>
				<tr><td colspan="2" height="20"></td></tr>
			</table>
		</div>
	</td>
	<td>
	</td>
</tr>
</table>
<!-- /HEADER -->