<tr>
    <td id="header" class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w30" width="30">
            </td>
            <td class="w580" width="580">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <p class="email-title">
                                Weekly Snack: Gluten-Free
                            </p>
                        </td>
                    </tr>
                    <tr><td height="10"></td></tr>
                </table>
            </td>
            <td class="w30" width="30">
            </td>
        </tr>
        </tbody>
        </table>
    </td>
</tr>
<tr id="gallery-content-row">
    <td class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w30" width="30">
            </td>
            <td class="w580" width="580">
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w580" width="580">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <p class="email-body" align="left">
                                        Gluten-free alternatives to your favorite treats!
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="w580" width="580" height="20">
                    </td>
                </tr>
                </tbody>
                </table>
                <!--
                ONE BIG
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w580" width="580" valign="top">
                        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td class="w580" width="580">
                                <img src="http://kcen.images.worldnow.com/images/23411805_BG1.jpg" label="Image" class="w580" width="580" border="0">
                            </td>
                        </tr>
                        <tr>
                            <td class="w580" width="580" height="10">
                            </td>
                        </tr>
                        <tr>
                            <td class="w580" width="580">
                                <div align="center" class="article-content">
                                    Enter your description
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="w580" width="580" height="10">
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
                </table>
                -->
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w280" width="280" valign="top">
                        <table class="w280" width="280" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td class="w280" width="280">
                                <a class="course-title" href="https://curiosity.com/courses/hilah-cooking-apple-crisp-recipe-how-to-make-apple-crisp-hilah-cooking">
                                    <img src="https://dw8stlw9qt0iz.cloudfront.net/4-fBT8cFD6mMLh0tvOh7yYmmNHs=/fit-in/382x0/smart/https://curiosity-data.s3.amazonaws.com/images/hilah-cooking/aac7d8a15108ddd6e04b207163726a2d.jpg" label="Image" class="w280" width="280" border="0">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="w280" width="280" height="10">
                            </td>
                        </tr>
                        <tr>
                            <td class="w280" width="280">
                                <div align="center" class="article-content">
                                    <a class="course-title" href="https://curiosity.com/courses/hilah-cooking-apple-crisp-recipe-how-to-make-apple-crisp-hilah-cooking">Apple Crisp Recipe</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </td>
                    <td width="20">
                    </td>
                    <td class="w280" width="280" valign="top">
                        <table class="w280" width="280" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td class="w280" width="280">
                                <a href="https://curiosity.com/courses/craftsy-artisan-bread-making">
                                    <img src="https://dw8stlw9qt0iz.cloudfront.net/hLeXXFwi92dnvBU8KjPzzAmDB9g=/fit-in/382x0/smart/https://curiosity-data.s3.amazonaws.com/images/craftsy/a0ab89bb70547ec899c82eb7dd9c14c0.jpg" label="Image" class="w280" width="280" border="0">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="w280" width="280" height="10">
                            </td>
                        </tr>
                        <tr>
                            <td class="w280" width="280">
                                <div align="center" class="article-content">
                                    <a class="course-title" href="https://curiosity.com/courses/craftsy-artisan-bread-making">Artisan Bread Making</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
                </table>
                <!--
                SEPERATOR
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td height="20" class="spacer-height"></td>
                    </tr>
                </table>
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" bgcolor="#ebebeb">
                    <tr>
                        <td height="1"></td>
                    </tr>
                </table>
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td height="20" class="spacer-height"></td>
                    </tr>
                </table>
                -->

                <!--
                THREE
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w180" width="180" valign="top">
                        <table class="w180" width="180" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td class="w180" width="180">
                                <img src="http://kcen.images.worldnow.com/images/23411805_BG1.jpg" label="Image" class="w180" width="180" border="0">
                            </td>
                        </tr>
                        <tr>
                            <td class="w180" width="180" height="10">
                            </td>
                        </tr>
                        <tr>
                            <td class="w180" width="180">
                                <div align="center" class="article-content">
                                    Enter your description
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </td>
                    <td width="20">
                    </td>
                    <td class="w180" width="180" valign="top">
                        <table class="w180" width="180" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td class="w180" width="180">
                                <img src="http://kcen.images.worldnow.com/images/23411805_BG1.jpg" label="Image" class="w180" width="180" border="0">
                            </td>
                        </tr>
                        <tr>
                            <td class="w180" width="180" height="10">
                            </td>
                        </tr>
                        <tr>
                            <td class="w180" width="180">
                                <div align="center" class="article-content">
                                   Enter your description
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </td>
                    <td width="20">
                    </td>
                    <td class="w180" width="180" valign="top">
                        <table class="w180" width="180" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td class="w180" width="180">
                                <img src="http://kcen.images.worldnow.com/images/23411805_BG1.jpg" label="Image" class="w180" width="180" border="0">
                            </td>
                        </tr>
                        <tr>
                            <td class="w180" width="180" height="10">
                            </td>
                        </tr>
                        <tr>
                            <td class="w180" width="180">
                                <div align="center" class="article-content">
                                    Enter your description
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
                </table>-->
            </td>
            <td class="w30" width="30">
            </td>
        </tr>
        </tbody>
        </table>
    </td>
</tr>