<tr>
    <td id="header" class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w30" width="30">
            </td>
            <td class="w580" width="580">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td align="left" class="email-title" style="text-align: left; font-size: 20px; line-height: 24px; color: #2c2c2c; font-weight: normal; margin-top:0px; margin-bottom:0; margin-left: 0; margin-right: 0;">
                            Hi [Username],
                        </td>
                    </tr>
                    <tr><td height="15"></td></tr>
                </table>
            </td>
            <td class="w30" width="30">
            </td>
        </tr>
        </tbody>
        </table>
    </td>
</tr>
<tr id="gallery-content-row">
    <td class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w30" width="30">
            </td>
            <td class="w580" width="580">
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w580" width="580">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td align="left">
                                    <p class="email-body" align="left" style="text-align: left; font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">
                                        We received your request to reset your password.
                                    </p>
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                            <tr>
                                <td align="left">
                                    <p class="email-body" align="left" style="text-align: left; font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">
                                        Click the <a href="{{url}}" style="color: #47c2d8;">following link</a> to create a new password:
                                    </p>
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                            <tr>
                                <td align="left">
                                    <a href="{{url}}" align="left" style="text-decoration: none; border: 0;" title="Reset Your Password"><img src="https://curiosity-data.s3.amazonaws.com/email/images/btn-reset-your-password.png" width="197" height="48" alt="Reset Your Password" style="display: block; text-decoration: none; border: 0;"></a>
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                            <tr>
                                <td align="left">
                                    <p class="email-body" align="left" style="text-align: left; font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">
                                        If you did not request to have your password reset, please let us know by emailing <a href="mailto: support@curiosity.com" style="color: #47c2d8;">support@curiosity.com</a>.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
                </table>
            </td>
            <td class="w30" width="30">
            </td>
        </tr>
        </tbody>
        </table>
    </td>
</tr>
