<tr>
    <td id="header" class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w30" width="30">
                    </td>
                    <td class="w580" width="580">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="left" class="email-title" style="text-align: left; font-size: 20px; line-height: 24px; color: #2c2c2c; font-weight: normal; margin-top:0px; margin-bottom:0; margin-left: 0; margin-right: 0;">
                                    <strong>{{share.user.name}}</strong> has shared a playlist with you.
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                        </table>
                    </td>
                    <td class="w30" width="30">
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>

<tr id="gallery-content-row">
    <td class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w30" width="30">
                    </td>
                    <td class="w580" width="580">
                {% if share.message %}
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="w580" width="580">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td align="left">
                                            <p class="email-body" align="left" style="text-align: left; font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">
                                                {{share.message}}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="w580" width="580" height="20">
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                <table cellpadding="0" cellspacing="0" border="0" style="background: #e9e9e9;" width="100%">
                  <tr><td colspan="3" height="15"></td></tr>
                  <tr>
                      <td width="15"></td>
                      <td>
                          <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                  <td>
                                   <table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 14px; font-weight: normal; color: #666666; line-height: 22px;">
                                       <tr>
                                           <td style="font-size: 22px; line-height: 26px; color: #2c2c2c; font-style: italic;">
                                               {{share.playlist.name}}
                                           </td>
                                       </tr>
                                       <tr>
                                           <td height="8"></td>
                                       </tr>
                                       <tr>
                                          <td style="font-size: 14px; line-height: 14px; color: #868686;">
                                              {{courses | length}} courses
                                          </td>
                                      </tr>
                                      <tr>
                                       <td height="16"></td>
                                   </tr>
                                   <tr>
                                      <td>
                                         <a href="{{url_for('frontend.playlist_link', playlist_id=share.playlist.slug)}}" class="playlist-button" style="text-decoration: none; border: 0; display: block;" width="197" height="48"><img src="https://curiosity-data.s3.amazonaws.com/email/share-playlist/btn-view-this-playlist.png" width="197" height="48" alt="View this Playlist" style="display: block; text-decoration: none; border: 0;"></a>
                                     </td>
                                 </tr>
                             </table>
                         </td>
                     </tr>
                 </table>
             </td>
             <td width="15"></td>
         </tr>
         <tr><td colspan="3" height="15"></td></tr>
     </table>
     <table cellpadding="0" cellspacing="0" border="0">
         <tr>
            <td height="20"></td>
        </tr>
    </table>
    <!-- {% for course in courses %} -->
    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
               <td class="w580" width="580">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0" width="270" align="left">
                                        <tr>
                                            <td align="left">
                                                <a class="course-title" href="{{url_for('frontend.course_link', slug=course.slug)}}" style="text-decoration: none;">
                                                    <img src="{{course.get_image('email_course')}}" label="Image" class="w270" width="270" border="0" style="display: block; boder: 0; text-decoration: none;">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                    <a  align="left" class="course-title" href="{{url_for('frontend.course_link', slug=course.slug)}}" style="font-size: 15px; line-height: 20px; font-weight: bold; text-decoration: none; color: #666666; margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0;">{{course.name}}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                               <td height="15"></td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- {% endfor %} -->
</td>
<td class="w30" width="30">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
