<tr>
    <td id="header" class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w30" width="30">
                    </td>
                    <td class="w580" width="580">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="left" class="email-title" style="text-align: left; font-size: 20px; line-height: 24px; color: #2c2c2c; font-weight: normal; margin-top:0px; margin-bottom:0; margin-left: 0; margin-right: 0;">
                                    <strong>{{user.get_name()}}</strong> has shared something you might like.
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                        </table>
                    </td>
                    <td class="w30" width="30">
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>

<tr id="gallery-content-row">
    <td class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w30" width="30">
                    </td>
                    <td class="w580" width="580">
                 {% if message %}
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="w580" width="580">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td align="left">
                                            <p class="email-body" align="left" style="text-align: left; font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">
                                               {{message}}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="w580" width="580" height="20">
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                {% for course in courses %}
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                           <td class="w580" width="580">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody>
                            <tr>
                            <td align="left">
                                    <table cellpadding="0" cellspacing="0" border="0" width="270" align="left">
                                        <tr>
                                            <td align="left">
                                                <a class="course-title" href="{{url_for('frontend.course_link', slug=course.slug)}}" style="text-decoration: none; border: 0;">
                                                    <img src="{{course.get_image('email_course')}}" label="Image" class="w270" width="270" border="0" style="display: block; boder: 0; text-decoration: none;">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                    <a align="left" class="course-title" href="{{url_for('frontend.course_link', slug=course.slug)}}" style="font-size: 15px; line-height: 20px; font-weight: bold; text-decoration: none; color: #666666; margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0;">{{course.name}}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
</td>
<td class="w30" width="30">
</td>
</tr>
</tbody>
</table>
</td>
</tr>

