<tr>
    <td id="header" class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w30" width="30">
            </td>
            <td class="w580" width="580">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td align="center">
                            <p class="email-title">
                                <strong>{{user.get_name()}}</strong> has shared something you might like.
                            </p>
                        </td>
                    </tr>
                    <tr><td height="15"></td></tr>
                </table>
            </td>
            <td class="w30" width="30">
            </td>
        </tr>
        </tbody>
        </table>
    </td>
</tr>

<tr id="gallery-content-row">
    <td class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w30" width="30">
            </td>
            <td class="w580" width="580">
	            <!-- {% if message %}
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w580" width="580">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <p class="email-body" align="left">
                                        {{message}}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="w580" width="580" height="20">
                    </td>
                </tr>
                </tbody>
                </table>
				{% endif %} -->
				<table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w580" width="580">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="center">
                                    <p class="email-body">
                                        "An optional message could be here"
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="w580" width="580" height="20">
                    </td>
                </tr>
                </tbody>
                </table>
				<!-- {% for course in courses %} -->
				<table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                	<td class="w580" width="580">
                		<!-- <table class="w280" width="280" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td class="w280" width="280">
                                <a href="{{url_for('frontend.course_link', slug=course.slug)}}" style="display: block; border: 0; text-decoration: none;">
                        			<img src="{{course.get_image('email_course')}}" width="280" class="w280" style="display: block; text-decoration: none;">
                        		</a> 
                            </td>
                        </tr>
                        </tbody>
                        </table> -->
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody>
                        <tr>
                            <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0" width="270">
                                    <tr>
                                        <td>
                                            <a class="course-title" href="https://curiosity.com/courses/hilah-cooking-apple-crisp-recipe-how-to-make-apple-crisp-hilah-cooking">
                                                <img src="https://dw8stlw9qt0iz.cloudfront.net/4-fBT8cFD6mMLh0tvOh7yYmmNHs=/fit-in/382x0/smart/https://curiosity-data.s3.amazonaws.com/images/hilah-cooking/aac7d8a15108ddd6e04b207163726a2d.jpg" label="Image" class="w270" width="270" border="0">
                                            </a>
                                        </td>
                                    </tr>  
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="center">
                                                <a class="course-title" href="https://curiosity.com/courses/hilah-cooking-apple-crisp-recipe-how-to-make-apple-crisp-hilah-cooking">Apple Crisp Recipe</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>                                
                            </td>
                        </tr>
                        </tbody>
                        </table>
                	</td>
                </tr>
                </tbody>
                </table>
                <!-- {% endfor %} -->
            </td>
            <td class="w30" width="30">
            </td>
        </tr>
        </tbody>
        </table>
    </td>
</tr>

