<tr>
    <td id="header" class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w30" width="30">
            </td>
            <td class="w580" width="580">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td align="left" class="email-title" style="text-align: left; font-size: 20px; line-height: 24px; color: #2c2c2c; font-weight: normal; margin-top:0px; margin-bottom:0; margin-left: 0; margin-right: 0;">
                            Welcome {{user.name}},
                        </td>
                    </tr>
                    <tr><td height="15"></td></tr>
                </table>
            </td>
            <td class="w30" width="30">
            </td>
        </tr>
        </tbody>
        </table>
    </td>
</tr>
<tr id="gallery-content-row">
    <td class="w640" width="640" bgcolor="#ffffff">
        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w30" width="30">
            </td>
            <td class="w580" width="580">
                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w580" width="580">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td align="left">
                                    <p class="email-body" align="left" style="text-align: left; font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">
                                        Thank you for signing up!
                                    </p>
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0" style="background: #e9e9e9;" class="w580" width="580">
                                        <tr><td colspan="3" height="20"></td></tr>
                                        <tr>
                                            <td width="20"></td>
                                            <td align="left">
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td class="email-body" style="text-align: left; font-family: Helvetica, Arial; font-size: 15px; font-weight: normal; color: #666666; line-height: 23px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">Email address: <a href="mailto:{{user.email}}" style="font-weight: bold; color: #47c2d8;">{{user.email}}</a></td>
                                                    </tr>
                                                    <tr><td height="10"></td></tr>
                                                    <tr>
                                                        <td class="email-body" style="text-align: left; font-family: Helvetica, Arial; font-size: 15px; font-weight: normal; color: #666666; line-height: 23px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">Username: <span style="font-weight: bold;">{{user.name}}</span></td>
                                                    </tr>
                                                </table>
                                            </td>
                                             <td width="20"></td>
                                        </tr>
                                        <tr><td colspan="3" height="20"></td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                            <tr>
                                <td align="left">
                                    <p class="email-body" align="left" style="text-align: left; font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">
                                        Click here to verify your account and complete your registration.
                                    </p>
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                            <tr>
                                <td align="left">
                                    <a href="{{url}}" style="text-decoration: none; border: 0;" title="Verify Email"><img src="https://curiosity-data.s3.amazonaws.com/email/images/btn-verify-email.png" width="168" height="48" alt="Verify Email" style="display: block; text-decoration: none; border: 0;"></a>
                                </td>
                            </tr>
                            <tr><td height="15"></td></tr>
                            <tr>
                                <td align="left">
                                    <p class="email-body" align="left" style="text-align: left; font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0;">
                                        We're just getting started. Please tell us how we're doing and how we can improve. Send questions or feedback to <a href="mailto:info@curiosity.com" style="color: #47c2d8;">info@curiosity.com</a>.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
                </table>
            </td>
            <td class="w30" width="30">
            </td>
        </tr>
        </tbody>
        </table>
    </td>
</tr>
