<!--==============header start here===============-->
<tr>
    <td bgcolor="#f7f7f7"><table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="main">
        <tr>
          <td width="5"></td>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="30"></td>
            </tr>
            <!--==============logo start here===============-->
            <tr>
                <td align="center"><a href="https://curiosity.com/" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/logo-bg.png" width="198" height="46" alt="Curiosity.com" border="0"></a></td>
            </tr>
            <!--==============logo end here===============-->
            <tr>
                <td height="30"></td>
            </tr>
            <tr>
                <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tr>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="10"></td>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr><td height="16"></td></tr>
                                    <tr>
                                        <td valign="top" style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:16px; line-height:22px; color:#283949; text-align:center;">
                                            <strong>{{share.user.name}}</strong> has shared a playlist with you.
                                        </td>
                                    </tr>
                                    <tr><td height="10"></td></tr>
                                    <tr>
                                        <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:14px; line-height:20px; color:#666666; text-align:center;">
                                            "{{share.message}}"
                                        </td>
                                    </tr>
                                    <tr><td height="16"></td></tr>
                                    </table>
                                </td>
                                <td width="10"></td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"><a href="{{url_for('frontend.playlist_link', playlist_id=share.playlist.slug)}}" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/bigcat.jpg" width="600" height="280" alt="banner" border="0" class="banner"></a></td>
                    </tr>
                </table>
                </td>
            </tr>
        </table></td>
        <td width="5"></td>
    </tr>
</table></td>
</tr>
<!--==============header end here===============-->
<!--==============content start here===============-->
<tr>
  <td valign="top"><table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="main">
    <tr>
      <td width="5"></td>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <!--==============text part start here===============-->
        <tr>
          <td bgcolor="#ffffff" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="20"></td>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="18"></td>
                  </tr>
                  <tr>
                      <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:20px; line-height:26px; color:#283949; text-align:center;">Martin Luther King: The Man Behind the Movement</td>
                  </tr>
                  <tr>
                      <td height="16"></td>
                  </tr>
                  <tr>
                      <td align="center"><a href="#" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/btn-view-this-playlist@2x.png" width="197" height="48" alt="View this Playlist" border="0"></a></td>
                  </tr>
                  <tr>
                      <td height="20"></td>
                  </tr>
              </table></td>
              <td width="20"></td>
          </tr>
      </table></td>
  </tr>
</table></td>
</tr>
<!--==============text part end here===============-->
<tr>
  <td height="25"></td>
</tr>
<!--==============2nd text part start here===============-->
<tr>
  <td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td  bgcolor="#FFFFFF" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="12"></td>
      </tr>
      <tr>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="20"></td>
              <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:20px; line-height:26px; color:#1185c8; text-align:center;"><a href="https://curiosity.com" target="_blank" style="color:#1185c8; text-decoration:none;">Explore and Be Inspired</td>
              </tr>
              <tr>
                  <td height="10"></td>
              </tr>
              <tr>
                  <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:13px; line-height:22px; color:#313440; text-align:center;">Learn anything on Curiosity. With over 100,000 videos across thousands of topics, you're sure to learn something new everyday.</td>
              </tr>
              <tr>
                  <td height="14"></td>
              </tr>
              <tr>
                  <td align="center"><a href="https://curiosity.com" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/btn-see-more@2x.png" width="127" height="37" alt="See More" border="0"></a></td>
              </tr>
          </table></td>
          <td width="20"></td>
      </tr>
  </table></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
<!--==============2nd text part end here===============-->
</table></td>
<td width="5"></td>
</tr>
</table></td>
</tr>
<!--==============content end here===============-->
