<!--==============header start here===============-->
<tr>
  <td bgcolor="#f7f7f7"><table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="main">
    <tr>
      <td width="5"></td>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="30"></td>
        </tr>
        <!--==============logo start here===============-->
        <tr>
          <td align="center"><a href="https://curiosity.com/" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/logo-bg.png" width="198" height="46" alt="Curiosity.com" border="0"></a></td>
        </tr>
        <!--==============logo end here===============-->
        <tr>
          <td height="30"></td>
        </tr>
      </table></td>
      <td width="5"></td>
    </tr>
  </table></td>
</tr>
<!--==============header end here===============-->
<!--==============content start here===============-->
<tr>
  <td valign="top"><table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="main">
    <tr>
      <td width="5"></td>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <!--==============text part start here===============-->
        <tr>
          <td bgcolor="#ffffff" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="20"></td>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <table width="288" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td height="18"></td>
                          </tr>
                          <tr>
                            <td><a href="#" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/cat.jpg" width="288" height="200" alt="" border="0" class="img1"></a></td>
                          </tr>
                          <tr>
                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="10"></td>
                                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="16"></td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:11px; line-height:14px; color:#b7b7b7; text-align:left; text-transform: uppercase;"><a href="#" target="_blank" style="color:#1185c8; text-decoration:none; letter-spacing: 0.03em;">Art &amp; Design</a></td>
                                  </tr>
                                  <tr><td height="5"></td></tr>
                                  <tr>
                                    <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:18px; line-height:24px; color:#2c2c2c; text-align:left;"><a href="#" target="_blank" style="color:#2c2c2c; text-decoration:none;">Vatican City Explained</a></td>
                                  </tr>
                                  <tr><td height="5"></td></tr>
                                  <tr>
                                    <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size: 13px; letter-spacing: 0.04em; color: #b7b7b7; line-height: 13px; font-weight: normal; font-style: italic;"><a href="#" style="color: #b7b7b7; text-decoration: none;">TED</a></td>
                                  </tr>
                                  <tr><td height="15"></td></tr>
                                  <tr>
                                    <td align="left"><a href="https://curiosity.com" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/btn-sm-view-now-black@2x.png" width="99" height="36" alt="View Now" border="0"></a></td>
                                  </tr>
                                  <!-- <tr><td height="5"></td></tr>
                                  <tr>
                                      <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:13px; line-height:20px; color:#2c2c2c; text-align:left;">In this JavaScript training for beginners: JavaScript Basics course, students will learn how to use JavaScript...</td>
                                    </tr> -->
                                    <tr>
                                      <td height="18"></td>
                                    </tr>
                                  </table></td>
                                  <td width="10"></td>
                                </tr>
                              </table></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table></td>
                    <td width="20"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <!--==============text part end here===============-->
          <tr>
            <td height="25"></td>
          </tr>
          <!--==============2nd text part start here===============-->
          <tr>
            <td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td  bgcolor="#FFFFFF" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="12"></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="20"></td>
                        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:20px; line-height:26px; color:#1185c8; text-align:center;"><a href="https://curiosity.com" target="_blank" style="color:#1185c8; text-decoration:none;">Explore and Be Inspired</td>
                          </tr>
                          <tr>
                            <td height="10"></td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif, Trebuchet MS; font-size:13px; line-height:22px; color:#313440; text-align:center;">Learn anything on Curiosity. With over 100,000 videos across thousands of topics, you're sure to learn something new everyday.</td>
                          </tr>
                          <tr>
                            <td height="14"></td>
                          </tr>
                          <tr>
                            <td align="center"><a href="https://curiosity.com" target="_blank"><img style="display:block;" src="https://curiosity-data.s3.amazonaws.com/email/images/btn-see-more.png" width="127" height="37" alt="See More" border="0"></a></td>
                          </tr>
                        </table></td>
                        <td width="20"></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <!--==============2nd text part end here===============-->
        </table></td>
        <td width="5"></td>
      </tr>
    </table></td>
  </tr>
  <!--==============content end here===============-->
