<table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px;">
	<tr><td height="20"></td></tr>
	<tr>
		<td class="header-style" style="font-size: 30px; line-height: 30px; color: #2c2c2c;">Hi {{name}},</td>
	</tr>
	<tr><td height="30"></td></tr>
	<tr>
		<td>We received your request to reset your password.</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>Click the <a href="{{url}}">following link</a> to create a new password:</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>
			<a href="{{url}}" style="text-decoration: none; border: 0;" title="Reset Your Password"><img src="{{config.AWS_S3_URL}}email/forgot-password/btn-reset-your-password.png" width="197" height="48" alt="Reset Your Password" style="display: block; text-decoration: none; border: 0;"></a>
		</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>If you did not request to have your password reset, please let us know by emailing <a href="mailto: support@curiosity.com" style="color: #47c2d8;">support@curiosity.com</a>.</td>
	</tr>
	<tr><td height="20"></td></tr>
</table>