<table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px;">
	<tr><td height="20"></td></tr>
	<tr>
		<td><strong>{{share.user.name}}</strong> has shared a playlist with you.</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>
		    {% if share.message %}
		    <strong>{{share.user.name}}</strong> has shared a playlist with you:
            {% endif %}
		</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
	    <td>
	        <table cellpadding="0" cellspacing="0" border="0" style="background: #e9e9e9;">
	            <tr><td colspan="3" height="30"></td></tr>
	            <tr>
	                <td width="20"></td>
	                <td>
	                    <table cellpadding="0" cellspacing="0" border="0">
	                        <tr>
	                            <td>
	                                <div class="column-wrap inset">
            							<div class="left-column" style="margin-bottom: 20px!important;">
            							    <table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 14px; font-weight: normal; color: #666666; line-height: 22px;">
        				                        <tr>
        				                            <td style="font-size: 22px; line-height: 26px; color: #2c2c2c; font-style: italic;">
        				                                {{share.playlist.name}}
        				                            </td>
        				                            <td width="20"></td>
        				                        </tr>
        				                        <tr>
        				                            <td height="8" colspan="2"></td>
        				                        </tr>
        				                        <tr>
                                                    <td style="font-size: 14px; line-height: 14px; color: #868686;">
                                                        {{courses | length}} courses
                                                    </td>
                                                    <td width="20"></td>
        				                        </tr>
        				                    </table>
            							</div>
            							<div class="right-column" style="margin-bottom: 20px!important;">
            							    <a href="{{url_for('frontend.view_shared_playlist', playlist_id=share.playlist.slug)}}" class="playlist-button" style="text-decoration: none; border: 0; display: block;" width="197" height="48"><img src="{{config.AWS_S3_URL}}email/share-playlist/btn-view-this-playlist.png" width="197" height="48" alt="View this Playlist" style="display: block; text-decoration: none; border: 0;"></a>
            							</div>
            						</div>
            					</td>
	                        </tr>
	                    </table>
	                </td>
	                 <td width="20"></td>
	            </tr>
	            <tr><td colspan="3" height="10"></td></tr>
	        </table>
	    </td>
	</tr>
	<tr>
	    <td height="8" style="background: #e1e0e0;">
	    </td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
	    <td>
	        <!-- COURSES -->
	        <table cellpadding="0" cellspacing="0" border="0">
	            <tr>
	                <td>
	                    <table cellpadding="0" cellspacing="0" border="0">
	                        {% for course in courses %}
	                        <tr>
	                            <td valign="top">
	                                <div class="column-wrap">
            							<div class="left-column" style="margin-bottom: 10px; margin-right: 20px; width: 144px;">
            							    <table cellpadding="0" cellspacing="0" border="0" width="144" style="background: #95c732; text-align; center; width: 144px; margin-bottom: 10px;">
			                                    <tr>
			                                        <td>
			                                            <a href="{{url_for('frontend.course_link', slug=course.slug)}}" style="display: block; border: 0; text-decoration: none;" width="144" height="80"><img src="{{course.get_image('email_course')}}" width="144" height="80" style="border-bottom: 1px solid #cccccc; display: block; text-decoration: none;"></a> </a> 
			                                        </td>
			                                    </tr>
			                                    <tr>
			                                        <td style="text-align: center;">
			                                            <a href="{{url_for('frontend.course_link', slug=course.slug)}}" style="border: 0; text-decoration: none; font-size: 12px; letter-spacing: 0.06em; font-weight: bold; color: #ffffff; background: #95c732;">View Now</a>
			                                        </td>
			                                    </tr>
			                                </table>
            							</div>
            							<div class="right-column" style="margin-bottom: 10px; width: 396px;">
            							    <table cellpadding="0" cellspacing="0" border="0">
            							        <tr>
            							            <td>
            							                <a href="{{url_for('frontend.course_link', slug=course.slug)}}" style="font-size: 16px; line-height: 22px; font-weight: bold; text-decoration: none; color: #666666;">{{course.name}}</a>
            							            </td>
            							        </tr>
            							        <tr><td height="7"></td></tr>
            							        <tr>
            							            <td style="font-size: 13px; letter-spacing: 0.04em; line-height: 13px; font-weight: normal; font-style: italic;">
            							                by {{course.source.name}}
            							            </td>
            							        </tr>
            							        <tr><td height="7"></td></tr>
            							        <tr>
            							            <td style="font-size: 13px; line-height: 18px;">
            							                {{course.short_description | safe}}
            							            </td>
            							        </tr>
            							        <tr><td height="10"></td></tr>
            							        <tr>
            							            <td style="font-size: 12px; line-height: 12px;">
            							                <a href="{{url_for('frontend.course_link', slug=course.slug)}}" style="font-weight: bold; color: #2c2c2c; text-decoration: none;">read more</a>
            							            </td>
            							        </tr>
            							        <tr><td height="10"></td></tr>
            							    </table>
            							</div>
            						</div>
	                            </td>
	                        </tr>
	                        <tr><td height="50"></td></tr>
	                        {% endfor %}
	                    </table>
	                </td>
	            </tr>
	            <tr><td height="25"></td></tr>
	        </table>
	        <!-- /COURSES -->
	    </td>
	</tr>
	<tr><td height="20"></td></tr>
</table>