<table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px;">
	<tr><td height="20"></td></tr>
	<tr>
		<td class="header-style" style="font-size: 30px; line-height: 30px; color: #2c2c2c;">Welcome {{user.name}},</td>
	</tr>
	<tr><td height="30"></td></tr>
	<tr>
		<td>Thank you for signing up!</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>Click here to verify your account and complete your registration.</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>
		  <a href="{{url}}" style="text-decoration: none; border: 0;" title="Verify Email"><img src="{{config.AWS_S3_URL}}email/welcome/images/btn-verify-email.png" width="168" height="48" alt="Verify Email" style="display: block; text-decoration: none; border: 0;"></a>
		</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
	    <td>
	        <table cellpadding="0" cellspacing="0" border="0" style="background: #e9e9e9;">
	            <tr><td colspan="3" height="20"></td></tr>
	            <tr>
	                <td width="20"></td>
	                <td>
	                    <table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 14px; font-weight: normal; color: #666666; line-height: 22px;">
	                        <tr>
	                            <td>Email address: <a href="mailto:{{user.email}}" style="color: #47c2d8; font-weight: bold;">{{user.email}}</a></td>
	                        </tr>
	                        <tr><td height="10"></td></tr>
	                        <tr>
	                            <td>Username: <span style="font-weight: bold;">{{user.name}}</span></td>
	                        </tr>
	                    </table>
	                </td>
	                 <td width="20"></td>
	            </tr>
	            <tr><td colspan="3" height="20"></td></tr>
	        </table>
	    </td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>We're just getting started. Please tell us how we're doing and how we can improve. Send questions or feedback to <a href="mailto:info@curiosity.com" style="color: #47c2d8;">info@curiosity.com</a>.</td>
	</tr>
	<tr><td height="20"></td></tr>
</table>