<table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px;">
	<tr><td height="20"></td></tr>
	<tr>
		<td class="header-style" style="font-size: 30px; line-height: 30px; color: #2c2c2c;">Welcome [Username],</td>
	</tr>
	<tr><td height="30"></td></tr>
	<tr>
		<td>We're in closed beta.</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>Stay tuned. We'll notify you when the site is live using the email address you provided.</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>Any questions? Contact us at <a href="mailto:info@curiosity.com" style="color: #47c2d8;">info@curiosity.com</a>.</td>
	</tr>
	<tr><td height="20"></td></tr>
</table>