<table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px;">
    <tr><td height="20"></td></tr>
	<tr>
		<td><strong>eboyer</strong> has shared something you might like.</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>"This is where the optional message could go."</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
	    <td>
	        <!-- COURSES -->
	        <table cellpadding="0" cellspacing="0" border="0">
	            <tr>
	                <td>
	                    <table cellpadding="0" cellspacing="0" border="0">
	                        <tr>
	                            <td valign="top">
	                                <div class="column-wrap">
            							<div class="left-column" style="margin-bottom: 10px; margin-right: 20px; width: 144px;">
            							    <table cellpadding="0" cellspacing="0" border="0" width="144" style="background: #95c732; text-align; center; width: 144px; margin-bottom: 10px;">
			                                    <tr>
			                                        <td>
			                                            <a href="#" style="display: block; border: 0; text-decoration: none;" width="144" height="80">
                        							        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQNA1yKguvEFyrY98YEzikR1DAe2TBAnr9OVLEmWOcDNx_PRKai" width="144" height="80" style="display: block; text-decoration: none;"></a> 
			                                        </td>
			                                    </tr>
			                                    <tr>
			                                        <td style="text-align: center;">
			                                            <a href="#" style="border: 0; text-decoration: none; font-size: 12px; letter-spacing: 0.06em; font-weight: bold; color: #ffffff; background: #95c732;">View Now</a>
			                                        </td>
			                                    </tr>
			                                </table>
            							</div>
            							<div class="right-column" style="margin-bottom: 10px; width: 396px;">
            							    <table cellpadding="0" cellspacing="0" border="0">
            							        <tr>
            							            <td>
            							                <a href="#" style="font-size: 16px; line-height: 22px; font-weight: bold; text-decoration: none; color: #666666;">14 Day Hatha Yoga for Detox and Weight Loss</a>
            							            </td>
            							        </tr>
            							        <tr><td height="7"></td></tr>
            							        <tr>
            							            <td style="font-size: 13px; letter-spacing: 0.04em; line-height: 13px; font-weight: normal; font-style: italic;">
            							                TED
            							            </td>
            							        </tr>
            							        <tr><td height="7"></td></tr>
            							        <tr>
            							            <td style="font-size: 13px; line-height: 18px;">
            							                This authentic 14-day course features major aspects of Hatha Yoga to detox and weight loss. Each day you will practice a unique combination of "Yoga... 
            							            </td>
            							        </tr>
            							        <tr><td height="10"></td></tr>
            							        <tr>
            							            <td style="font-size: 12px; line-height: 12px;">
            							                <a href="#" style="font-weight: bold; color: #2c2c2c; text-decoration: none;">read more</a>
            							            </td>
            							        </tr>
            							        <tr><td height="10"></td></tr>
            							    </table>
            							</div>
            						</div>
	                            </td>
	                        </tr>
	                    </table>
	                </td>
	            </tr>
	            <tr><td height="25"></td></tr><!-- /COURSE -->
	        </table>
	        <!-- /COURSES -->
	    </td>
	</tr>
	<tr><td height="20"></td></tr>
</table>