<table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 16px; font-weight: normal; color: #666666; line-height: 24px;">
	<tr><td height="20"></td></tr>
	<tr>
		<td><strong>eboyer</strong> has shared a playlist with you.</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
		<td>"This is where the optional message could go."</td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
	    <td>
	        <table cellpadding="0" cellspacing="0" border="0" style="background: #e9e9e9;">
	            <tr><td colspan="3" height="30"></td></tr>
	            <tr>
	                <td width="20"></td>
	                <td>
	                    <table cellpadding="0" cellspacing="0" border="0">
	                        <tr>
	                            <td>
	                                <div class="column-wrap inset">
            							<div class="left-column" style="margin-bottom: 20px!important;">
            							    <table cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial; font-size: 14px; font-weight: normal; color: #666666; line-height: 22px;">
        				                        <tr>
        				                            <td style="font-size: 22px; line-height: 26px; color: #2c2c2c; font-style: italic;">
        				                                Ways to Lose Weight when all you do is eat a ton of donuts
        				                            </td>
        				                            <td width="20"></td>
        				                        </tr>
        				                        <tr>
        				                            <td height="8" colspan="2"></td>
        				                        </tr>
        				                        <tr>
                                                    <td style="font-size: 14px; line-height: 14px; color: #868686;">
                                                        10 courses
                                                    </td>
                                                    <td width="20"></td>
        				                        </tr>
        				                    </table>
            							</div>
            							<div class="right-column" style="margin-bottom: 20px!important;">
            							    <a href="#playlist" class="playlist-button" style="text-decoration: none; border: 0; display: block;" width="197" height="48">
            							        <%= image_tag 'btn-view-this-playlist.png', 'width' => '197', 'height' => '48', 'alt' => 'View this Playlist', 'style' => 'display: block; text-decoration: none; border: 0;' %></a>
            							</div>
            						</div>
            					</td>
	                        </tr>
	                    </table>
	                </td>
	                 <td width="20"></td>
	            </tr>
	            <tr><td colspan="3" height="10"></td></tr>
	        </table>
	    </td>
	</tr>
	<tr>
	    <td height="8" style="background: #e1e0e0;">
	    </td>
	</tr>
	<tr><td height="20"></td></tr>
	<tr>
	    <td>
	        <!-- COURSES -->
	        <table cellpadding="0" cellspacing="0" border="0">
	            <tr>
	                <td>
	                    <table cellpadding="0" cellspacing="0" border="0">
	                        <tr>
	                            <td valign="top">
	                                <div class="column-wrap">
            							<div class="left-column" style="margin-bottom: 10px; margin-right: 20px; width: 144px;">
            							    <table cellpadding="0" cellspacing="0" border="0" width="144" style="background: #95c732; text-align; center; width: 144px; margin-bottom: 10px;">
			                                    <tr>
			                                        <td>
			                                            <a href="#" style="display: block; border: 0; text-decoration: none;" width="144" height="80">
                        							        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQNA1yKguvEFyrY98YEzikR1DAe2TBAnr9OVLEmWOcDNx_PRKai" width="144" height="80" style="display: block; text-decoration: none;"></a> 
			                                        </td>
			                                    </tr>
			                                    <tr>
			                                        <td style="text-align: center;">
			                                            <a href="#" style="border: 0; text-decoration: none; font-size: 12px; letter-spacing: 0.06em; font-weight: bold; color: #ffffff; background: #95c732;">View Now</a>
			                                        </td>
			                                    </tr>
			                                </table>
            							</div>
            							<div class="right-column" style="margin-bottom: 10px; width: 396px;">
            							    <table cellpadding="0" cellspacing="0" border="0">
            							        <tr>
            							            <td>
            							                <a href="#" style="font-size: 16px; line-height: 22px; font-weight: bold; text-decoration: none; color: #666666;">14 Day Hatha Yoga for Detox and Weight Loss</a>
            							            </td>
            							        </tr>
            							        <tr><td height="7"></td></tr>
            							        <tr>
            							            <td style="font-size: 13px; letter-spacing: 0.04em; line-height: 13px; font-weight: normal; font-style: italic;">
            							                TED
            							            </td>
            							        </tr>
            							        <tr><td height="7"></td></tr>
            							        <tr>
            							            <td style="font-size: 13px; line-height: 18px;">
            							                This authentic 14-day course features major aspects of Hatha Yoga to detox and weight loss. Each day you will practice a unique combination of "Yoga... 
            							            </td>
            							        </tr>
            							        <tr><td height="10"></td></tr>
            							        <tr>
            							            <td style="font-size: 12px; line-height: 12px;">
            							                <a href="#" style="font-weight: bold; color: #2c2c2c; text-decoration: none;">read more</a>
            							            </td>
            							        </tr>
            							        <tr><td height="10"></td></tr>
            							    </table>
            							</div>
            						</div>
	                            </td>
	                        </tr>
	                    </table>
	                </td>
	            </tr>
	            <tr><td height="25"></td></tr><!-- /COURSE -->
	        </table>
	        <!-- /COURSES -->
	    </td>
	</tr>
	<tr><td height="20"></td></tr>
</table>