<% @title = "Home" %>

<table cellpadding="0" cellspacing="0" border="0">

    <tr><td height="20"></td></tr>
    <tr>
        <td style="font-size: 10px; line-height: 10px; text-transform: uppercase; font-weight: bold; letter-spacing: 0.05em;">V3</td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Digest', '/themeforest/digest.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Digest - Alt', '/themeforest/alt.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Playlist', '/themeforest/share-playlist.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Playlist - Tags', '/themeforest/share-playlist-tags.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Course', '/themeforest/share-course.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Course - Tags', '/themeforest/share-course-tags.html' %></td>
    </tr>
    <tr><td height="40"></td></tr>

    <tr><td height="20"></td></tr>
    <tr>
        <td style="font-size: 10px; line-height: 10px; text-transform: uppercase; font-weight: bold; letter-spacing: 0.05em;">Newsletters</td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Were Live!', '/newsletters/were-live.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Digest', '/v2/digest.html' %></td>
    </tr>
    <tr><td height="40"></td></tr>

    <tr>
        <td style="font-size: 10px; line-height: 10px; text-transform: uppercase; font-weight: bold; letter-spacing: 0.05em;">App Emails V2</td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Forgot Password', '/v2/forgot-password.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Welcome', '/v2/welcome.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Playlist', '/v2/share-playlist.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Course', '/v2/share-course.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Course (centered)', '/v2/share-course-centered.html' %></td>
    </tr>
    <tr><td height="40"></td></tr>


    <tr>
        <td style="font-size: 10px; line-height: 10px; text-transform: uppercase; font-weight: bold; letter-spacing: 0.05em;">App Emails V1</td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Closed Beta', '/v1/closed-beta.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Forgot Password', '/v1/forgot-password.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Welcome', '/v1/welcome.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Playlist', '/v1/share-playlist.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Course', '/v1/share-course.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Were Live!', '/newsletters/were-live.html' %></td>
    </tr>
    <tr><td height="40"></td></tr>


    <tr>
        <td style="font-size: 10px; line-height: 10px; text-transform: uppercase; font-weight: bold; letter-spacing: 0.05em;">App Emails V1 w/ Template Tags</td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Forgot Password', '/v1-server/forgot-password.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Welcome', '/v1-server/welcome.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Playlist', '/v1-server/share-playlist.html' %></td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td><%= link_to 'Share Course', '/v1-server/share-course.html' %></td>
    </tr>
    <tr><td height="40"></td></tr>



</table>
